<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify your account! - RomlandTube</title>
</head>

<body>
    <section class="cover">
        <div class="container">
            <div class="col-md-12">
                <div id="message" class="card">
                    <div class="card-header">Verify Account</div>
                    <div class="card-body">
                        <h2>
                            Welcome, <%= user.name %>
                        </h2>
                        <p>You need to activate your account before you can upload!<br>An email have been sent to <%= user.email %>.<br>Please click the link in the email to verify</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
        
</body>

</html>